body {
    background-color: #3C73BB ;
    font-family: 'Inter', sans-serif;
}

.main-container{
    border: 1px solid black;
    border-radius: 10px;
    height: 700px;
    margin: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.container .box{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    color: white;
}

.search-box{
    margin: 25px;
    margin-bottom: 5px;
    gap: 10px;
    display: flex;
}

#search-input{
    border-radius: 5px;
    height: 29px;
    width: 460px;
    
}

#search-btn{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3px;
}

#search-btn:hover{
    background-color: #5395eb;
}
.box{
    border: 1px solid black;
    height: 290px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    color: #ffff;
    
}

.box:nth-child(5){
    grid-column: span 2;
}


#map{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#temp{
    font-size: 40px;
    padding-left: 13px;
}

#city-list{
    list-style: none;
    padding: 0;
    width: 100%;
}

#city-list li{
    margin: 10px 0;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}