body {
    background-color: #00A8E8 ;
    font-family: 'Inter', sans-serif;
}

.main-container{
    border: 1px solid black;
    border-radius: 10px;
    height: 700px;
    margin: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.search-box{
    margin: 25px;
    margin-bottom: 5px;
    gap: 10px;
    display: flex;
}

#search-input{
    border-radius: 5px;
    height: 29px;
    width: 460px;
    
}

#search-btn{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3px;
}

#search-btn:hover{
    background-color: #5395eb;
}
.box{
    border: 1px solid black;
    height: 290px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    color: #ffff;
    
}

.box:nth-child(5){
    grid-column: span 2;
}
